target/
${project.build.directory}/


.idea/
*.iml
out/

.project
.classpath
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache/
bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

*.class
*.jar
*.war
*.ear

*.log


# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

tmp/
temp/
*.tmp
*~

.env
.env.*

generated/